---
title: "Crash Course: Pandas "
author: "by Jawad Haider"
format:
  gfm: 
    toc: true
    gfm-engine-opt: --no-toc-relocation
    html-math-method: katex
jupyter: python3
code-fold: true
number-sections: true
column: screen-inset-shaded
reference-location: section
---

___

<center><a href=''><img src='../img/logo1.png'/></a></center>

___ 


<center><em>Copyright Qalmaqihir</em></center>
<center><em>For more information, visit us at <a href='http://www.github.com/qalmaqihir/'>www.github.com/qalmaqihir/</a></em></center>

# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [10]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [13]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [14]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [15]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [17]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

# Great Job! Thats the end of this part.
`Don't forget to give a star on github and follow for more curated Computer Science, Machine Learning materials`